@font-face {
  font-family: "mario-font";
  src: url("../assets/super-mario-bros--3-webfont.ttf") format("truetype"); }

.stage {
  background-image: url("../images/backdrop.png");
  position: absolute;
  width: 512px;
  height: 480px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

body {
  background: #9a4e00;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0; }

.slotPicture {
  width: 57px;
  height: 57px;
  background-image: url(../images/smb2_various_sheet.png);
  background-position: -1px -1px;
  background-size: 1630%;
  float: left; }

.slotPicture#s1 {
  margin-top: 180px;
  margin-left: 163px; }

.slotPicture#s2 {
  margin-top: 180px;
  margin-left: 7px; }

.slotPicture#s3 {
  margin-top: 180px;
  margin-left: 7px; }

.animate#s1 {
  -webkit-animation: slotAnimation 0.5s steps(1) 3; }

.animate#s2 {
  -webkit-animation: slotAnimation 0.5s steps(1) 5; }

.animate#s3 {
  -webkit-animation: slotAnimation 0.5s steps(1) 7; }

.slotPicture-star {
  background-position: -312px 456px; }

.slotPicture-enemy {
  background-position: 556px 455px; }

.slotPicture-carrot {
  background-position: 494px 456px; }

.slotPicture-cherry {
  background-position: 432px 456px; }

.Counter {
  background-color: black;
  font-size: 20px;
  color: white;
  font-family: "mario-font", sans-serif;
  border-style: none;
  width: 37px;
  height: 25px;
  position: fixed; }

.Counter#life {
  top: 345px;
  left: 363px; }

.Counter#coins {
  top: 265px;
  left: 285px; }

@-webkit-keyframes slotAnimation {
  0% {
    background-position: -312px 456px; }

  25% {
    background-position: 556px 455px; }

  50% {
    background-position: 494px 456px; }

  75% {
    background-position: 432px 456px; } }
